

.hero-banner {
    position: relative;
    height: 75vh;
    display: flex;
    align-items: center;
    padding-inline: 7vw;
    color: var(--main-color);
    font-family: var(--font-secondary);
}

.hero-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top,  rgba(24, 24, 24, 0.85), transparent);
}

.hero-content {
    position: relative;
    max-width: 50%;
    margin-top: 3vw;
    z-index: 2;
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.btn {
    padding: 12px 25px;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.btn-play {
    background: white;
    color: black;
    font-weight: bold;
}

.btn-list {
    background: rgba(255, 255, 255, 0.3);
    color: white;
    border: 1px solid white;
}

.hero-description {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 450px;
    padding-top: 2vh;
}


/* ------------------------------------------- */
/* RESPONSIVE */
/* ------------------------------------------- */

/* Tablets */
@media (max-width: 992px) {

    .hero-title {
        font-size: 2.4rem;
    }

    .hero-content {
        max-width: 60%;
    }
}

/* Phones */
@media (max-width: 768px) {
    .hero-banner {
      
        padding-left: 5%;
    }

    .hero-title {
        font-size: 2rem;
    }

    .hero-description {
        font-size: 0.95rem;
        max-width: 95%;
    }

    .hero-content {
        max-width: 80%;
    }
}

/* Small Phones */
@media (max-width: 480px) {
    .hero-banner {
        height: auto;
        padding: 50px 20px;
        padding-bottom: 120px;
        background-position: right top;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-title {
        font-size: 1.6rem;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 10px;
        width: 150px;
    }

    .btn {
        width: 100%;
        padding: 10px;
        font-size: 0.9rem;
    }

    .hero-description {
        max-width: 100%;
        font-size: 0.9rem;
    }
}
