.footercontainer {
  font-family: var(--font-secondary);
  color: var(--main-color);
  font-weight: 300;
  font-size: 16px;

  width: 70vw;
  margin: 25px auto;
}
.lessopacity {
  opacity: 0.7;
  margin-top: 15px;
}
.lessopacity ul li {
  margin-bottom: 15px;
}
.footericon {
  display: flex;
  gap: 2vw;
  margin-left: 10px;
}

.texts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lessopacity .service {
  margin-top: 25px;
  margin-bottom: 15px;
  padding-inline: 15px;
  width: fit-content;
  border: 2px solid var(--main-color) ;
}
.lessopacity .copyright{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
